.backButton {
  color: #d7d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

.greyCircle {
  padding: 4px;
  background-color: #d7d7d7;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
