.newPositionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 10px 0px 10px inset black;
  border-radius: 24px;
  padding: 50px;
}
.newPositionForm select {
  outline: 0;
  background-color: transparent;
  color: #b9bfc7;
  margin: 8px 0px;
  border: 2px solid #b9bfc7;
  border-radius: 48px;
  padding: 8px;
  cursor: pointer;
  -webkit-appearance: none;
}

.createPositionHeadline {
  position: relative;
  margin-bottom: 40px;
}

.newPositionForm input {
  outline: 0;
  border: 0;
  background: transparent;
  border: 2px solid #b9bfc7;
  color: #b9bfc7;
  border-radius: 48px;
  padding: 8px;
  margin: 8px 0px;
}

.longButton {
  outline: 0;
  border-radius: 24px;
  width: 200px;
  padding: 8px;
  border: 2px solid var(--secondary);
  background: transparent;
  color: var(--secondary);
}

.shortButton {
  outline: 0;
  border-radius: 24px;
  width: 200px;
  padding: 8px;
  border: 2px solid var(--secondary);
  background: transparent;
  color: var(--secondary);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.leverageButton {
  margin: 16px 0px;
  background: transparent;
  border: 2px solid #b9bfc7;
  color: #b9bfc7;
  border-radius: 48px;
  padding: 4px 16px;
}

.submitButton {
  background: linear-gradient(270deg, #f2f2f2 0%, #adadad 100%);
  color: black;
  border-radius: 48px;
  outline: 0;
  border: 0;
  padding: 16px;
}

.priceWrapper {
  max-width: 450px;
  margin: 8px auto;
  display: flex;
  justify-content: space-evenly;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price img {
  margin-right: 8px;
}

.highlight {
  background-color: var(--primary);
  width: 30px;
  height: 1px;
  position: absolute;
  bottom: 20px;
  border-radius: 48px;
}
