.pozitionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pozitionContainer h1 {
  display: flex;
  align-items: center;
}

.greyCircles {
  margin: 16px;
  width: 18px;
  height: 18px;
  background: radial-gradient(
    70.99% 70.99% at 35.8% 29.01%,
    #ffffff 0%,
    #939393 100%
  );
  border-radius: 50%;
}

.spacer {
  background: #444444;
  min-width: 90%;
  border-radius: 4px;
  height: 1px;
  margin: 8px;
}

.actionButton {
  border-radius: 48px;
  border: 1px solid;
  background-color: transparent;
  color: white;
  border: 2px solid #aeaeae;
  padding: 10px;
  margin: 16px;
}
