.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newPositionButton {
  background: #f2f2f2;
  color: black;
  border-radius: 48px;
  outline: 0;
  border: 0;
  padding: 16px 24px;
}
